.header {
  background-color: #000407;
  color: #32B9CD;
}

.container {
  width: 80%;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.navbar {
 display: flex;
 list-style: none;
 width: 400px;
 justify-content: space-between; 
}

p {
  margin: 20px 30px 40px 50px;
}